.Landing--section{
    align-content: center;
    justify-items: center;
    height: 100%;
    width: 100%;
}

h1 {
    font-family: "Karla", serif;
    font-size: 2rem;
    margin: 0;
}

h2, button {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
}

h1, h2 {
    color: #293264;
}

h2 {
    margin: 0.5em 0 0 0;
}

button {
    border: none;
    background-color: #4D5B9E;
    color: #F5F7FB;
    padding: 1em 1.875em;
    margin: 1.875em 0 0 0;
    border-radius: 15px;
}